body {

    background-image: url('../../assets/images/spacey4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.G_const {
    position: absolute;
    top: 620px;
    left: 300px; 
}

.G_const_label {
    position: absolute;
    top: 585px;
    left: 550px; 
}

.test1 {
    background-color: aqua;
    position: absolute;
    top: 200px;
    left: 100px;
}

.test2 {
    background-color: aqua;
    position: absolute;
    top: 300px;
    left: 100px;
}

.test3 {
    background-color: aqua;
    position: absolute;
    top: 400px;
    left: 100px;
}

.test4 {
    background-color: aqua;
    position: absolute;
    top: 500px;
    left: 100px;
}

.canvas {
    position: absolute;
    top: 100px;
    left: 260px; 
}

.label1 {
    color: crimson;
    position: absolute; 
    top: 150px; 
    left: 100px; 
}


.label2 {
    color: crimson;
    position: absolute; 
    top: 250px; 
    left: 100px; 
}


.label3 {
    color: crimson;
    position: absolute; 
    top: 350px; 
    left: 100px; 
}


.label4 {
    color: crimson;
    position: absolute; 
    top: 450px; 
    left: 100px; 
}

.Pause {
    position: relative;
    padding: 15px;
    line-height: 1px;
    text-align: center;
    color: #2196f3;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
}

#pauseButton {
    position: relative;
    left: 200px; 
    top: 500px;
    width: 80px;
    height: 40px;
    padding: 74px;
    overflow: hidden;
}

.Pause:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 90px #2196f3;
    transition-delay: 0.2s;
    cursor: pointer;
}
#pauseButton, span {
    position: relative;
    display: block;
}

#pauseButton span:nth-child(1) {
    overflow: hidden;
    top: 0px;
    left: -225%;
    width: 105px; 
    height: 3px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
#pauseButton:hover span:nth-child(1) {
    left: 50%;
    transition: 0.5s; 
}
#pauseButton span:nth-child(2) {
    bottom: -39px;
    right: -225%;
    width: 105px; 
    height: 3px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
#pauseButton:hover span:nth-child(2) {
    right: 50%;
    transition: 0.5s; 
}
/* ----------------------- */
.Clear {
    position: relative;
    padding: 15px;
    line-height: 1px;
    text-align: center;
    color: #2196f3;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
}

#clearButton {
    position: relative;
    left: 500px; 
    top: 312px;
    width: 80px;
    height: 40px;
    padding: 74px;
    overflow: hidden;
}

.Clear:hover {
    color: #fa0b0b;
    background: #842525;
    box-shadow: 0 0 10px #842525, 0 0 40px #842525, 0 0 90px #842525;
    transition-delay: 0.2s;
    cursor: pointer;
}
#clearButton, span {
    position: relative;
    display: block;
}

#clearButton span:nth-child(1) {
    overflow: hidden;
    top: 0px;
    left: -225%;
    width: 105px; 
    height: 3px;
    background: linear-gradient(90deg, transparent, #842525);
}
#clearButton:hover span:nth-child(1) {
    left: 50%;
    transition: 0.5s; 
}
#clearButton span:nth-child(2) {
    bottom: -39px;
    right: -225%;
    width: 105px; 
    height: 3px;
    background: linear-gradient(270deg, transparent, #842525);
}
#clearButton:hover span:nth-child(2) {
    right: 50%;
    transition: 0.5s; 
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navBar {
    width: 5rem;
    height: 100vh; 
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 1;
}

:root {
    font-size: 16px;
    font-family: 'open sans';
    --text-primary: #b6b6b6; 
    --text-secondary: #ececec; 
    --bg-primary: #23232e; 
    --bg-secondary: #141418; 
}

.navBar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7); 
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    box-shadow: 0 0 10px #5c66ee, 0 0 40px #5c66ee, 0 0 90px #5c66ee;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navBar:hover{
    width: 16rem;
}

.navBar:hover .link-text {
    display: block;
}

.fa-primary {
    color: #7ea7ff;
}

.fa-secondary {
    color: #454fdf;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: 0.5s;
}

.navBar:hover .logo svg {
    transform: rotate(-180deg);
}

.instr {
    position: relative;
    /* left: 7%; */
    padding-left: 100px;
    font-weight: 600;
    letter-spacing: 0.5px;
    animation: text 3s 1;
    color: rgb(161, 176, 243);
}

@keyframes text {
    0%{
        color: #14184b;
        /* color: red; */
        margin-bottom: -80px;
    }
    30%{
        letter-spacing: 0.7px;
        margin-bottom: -400px;
    }
}

ul li {
    position: relative;
    list-style: none;
    /* background: wheat; */
}

ul li:hover {
    background: #86ff3b;
    /* box-shadow: 0 0 10px #5c66ee, 0 0 40px #5c66ee, 0 0 90px #5c66ee; */
}

ul .label1 .content {
    position: absolute;
    /* top: 1px;  */
    left: 350px;
    width: 400px; 
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    /* visibility: hidden; */
    opacity: 0;
    transform: translateX(-50%) translateY(-50px);
}

ul .label1:hover .content {
    z-index: 1;
    transition: 2.5s;
    /* visibility: hidden; */
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
ul .label2 .content {
    position: absolute;
    /* top: 1px;  */
    left: 350px;
    width: 400px; 
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    /* visibility: hidden; */
    opacity: 0;
    transform: translateX(-50%) translateY(-50px);
}

ul .label2:hover .content {
    z-index: 1;
    transition: 2.5s;
    /* visibility: hidden; */
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
ul .label3 .content {
    position: absolute;
    /* top: 1px;  */
    left: 350px;
    width: 400px; 
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    /* visibility: hidden; */
    opacity: 0;
    transform: translateX(-50%) translateY(-50px);
}

ul .label3:hover .content {
    z-index: 1;
    transition: 2.5s;
    /* visibility: hidden; */
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
ul .label4 .content {
    position: absolute;
    /* top: 1px;  */
    left: 350px;
    width: 400px; 
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    /* visibility: hidden; */
    opacity: 0;
    transform: translateX(-50%) translateY(-50px);
}

ul .label4:hover .content {
    z-index: 1;
    transition: 2.5s;
    /* visibility: hidden; */
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}